@import "_nullstyle.scss";

$fz: 20px;

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    height: 100%;
}

.wrapper {
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(88, 9, 119);
        z-index: 2;
    }
    &__body {
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 80px;
        align-items: center;
        @media (max-width: 767px) {
            height: 50px;
        }
    }

    &__logo {
        flex: 0 0 60px;
        position: relative;
        z-index: 3;
        & img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            display: block;
            @media (max-width: 767px) {
                width: 40px;
                height: 40px;
            }
        }
    }

    &__burger {
        display: none;
        @media (max-width: 767px) {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 3;
        }
        &::before {
            content: "";
            top: 0;
            background-color: rgb(255, 255, 255);
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
        }
        &::after {
            content: "";
            bottom: 0;
            background-color: rgb(255, 255, 255);
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
        }
        & span {
            position: absolute;
            background-color: rgb(255, 255, 255);
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
        }
    }

    &__menu {
        @media (max-width: 767px) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(32, 218, 177);
            padding-top: 70px;
        }
    }

    &__list {
        display: flex;
        position: relative;
        z-index: 2;
        & li {
            margin-left: 18px;
            @media (max-width: 767px) {
                margin-bottom: 20px;
            }
        }
        @media (max-width: 767px) {
            display: block;
        }
    }

    &__link {
        color: rgb(252, 250, 250);
        text-transform: uppercase;
        font-size: 16px;
        text-decoration: none;
    }
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 10px;
}
.content {
    padding-top: 100px;
    &__text {
        font-size: $fz;
        line-height: 20px;
    }
}
